################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
parts = part
[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://www.ijg.org/files/jpegsrc.v7.tar.gz
md5sum = 382ef33b339c299b56baf1296cda9785
